* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: #D50000;
}
[contenteditable] {
  outline: none;
}
md-nav-bar .md-nav-bar {
  background: black;
}
md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected,
md-nav-bar .md-button._md-nav-button.md-unselected {
  color: white;
}
md-input-container .md-errors-spacer {
  min-height: 0;
}
.compendium-card {
  display: block;
  width: 100%;
  padding: 16px;
  background: white;
  margin-bottom: 10px;
}
.compendium-card .compendium-card__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 2.4rem;
  color: #D50000;
}
.compendium-card__list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.compendium-card__item {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-gap: 15px;
  min-width: 234px;
  margin-bottom: 16px;
}
.compendium-card__item-img {
  background-size: cover;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.compendium-card__item-info {
  font-size: 1.5rem;
}
.compendium-card__item-info .compendium-card__item-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}
.compendium-entry {
  background: white;
  padding: 16px;
  font-size: 1.5rem;
}
.compendium-entry caption {
  font-size: 1.9rem;
  font-weight: 700;
  margin: 1em 0;
  text-align: left;
}
.compendium-entry table {
  border-collapse: collapse;
}
.compendium-entry table,
.compendium-entry th,
.compendium-entry td {
  border: 1px solid black;
}
.compendium-entry table td,
.compendium-entry table th {
  text-align: left;
  padding: 10px;
}
.md-extra-padding {
  padding: 16px;
  padding-top: 8px;
}
.page-title {
  font-size: 2.4rem;
  color: #D50000;
}
.page-sub-title {
  font-size: 2.0rem;
  color: #D50000;
}
.btn-row-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.btn-row-wrapper .md-button {
  margin: 6px 8px 6px 0px;
}
.spells-list__head,
.spells-list__item-card {
  display: grid;
  grid-template-columns: 16% repeat(7, 12%);
  grid-template-rows: auto;
  min-width: 952px;
}
.list-item-head {
  font-weight: 700;
  padding: 16px;
}
.list-item-divider {
  margin-top: 34px;
  margin-bottom: 32px;
}
.list-item-head__property,
.list-item-card {
  outline: 0;
  cursor: pointer;
}
.list-item-card {
  background: white;
  padding: 16px;
}
.list-item-card .md-button {
  margin: 0;
}
.list-item-card-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}
.list-item-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 127px;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  font-size: 1.5rem;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item-card__property {
  display: flex;
  align-items: center;
  padding-right: 4px;
}
.list-item-card__description table {
  border-collapse: collapse;
}
.list-item-card__description table,
.list-item-card__description th,
.list-item-card__description td {
  border: 1px solid black;
}
.list-item-card__description table td,
.list-item-card__description table th {
  text-align: left;
  padding: 10px;
}
.input-row-wrapper {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.input-row-wrapper md-input-container {
  margin-right: 16px;
  min-width: 154px;
}
md-dialog-content h3 {
  color: #D50000;
  margin-bottom: 20px;
}
.notes-list {
  height: 100%;
}
.notes-list__sidenav {
  width: 33%;
  min-width: 234px;
}
.note-editor-wrapper {
  width: 100%;
}
.note-editor-wrapper .md-button {
  margin-left: 0;
}
.note-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 324px;
  padding: 16px;
  background: white;
}
.note-editor__toolbar {
  margin-bottom: 20px;
}
.note-editor__textbox {
  min-height: 324px;
}
.note-editor__btn-wrapper {
  margin-top: 16px;
  float: right;
}
.btn--hover {
  position: absolute;
  z-index: 999;
  right: 0;
}
md-list-item._md-button-wrap > div.md-button:first-child {
  padding: 8px 16px;
}
.grid-column-8 {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: auto;
}
.grid-column-7 {
  display: grid;
  grid-template-columns: repeat(7, 14.28%);
  grid-template-rows: auto;
}
.grid-column-6 {
  display: grid;
  grid-template-columns: repeat(6, 16.66%);
  grid-template-rows: auto;
}
.grid-column-5 {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: auto;
}
.grid-column-4 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
}
.grid-column-3 {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: auto;
}
.grid-column-3-revised {
  display: grid;
  grid-template-columns: 60% repeat(2, 20%);
  grid-template-rows: auto;
}
.grid-column-2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
}
.grid-column-2-revised {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
}
.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.span-2 {
  grid-column: span 2;
}
.span-3 {
  grid-column: span 3;
}
.span-4 {
  grid-column: span 4;
}
.span-7 {
  grid-column: span 7;
}
.span-8 {
  grid-column: span 8;
}
.item1 {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
.item2 {
  grid-column: 2;
  grid-row: 1;
}
.item3 {
  grid-column: 2;
  grid-row: 2;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-18 {
  margin-bottom: 18px;
}
.align-middle {
  align-items: center;
  justify-content: center;
}
.flex-center-align {
  display: flex;
  align-content: center;
}
.small-80 {
  font-size: 80%;
}
.small-90 {
  font-size: 90%;
}
.strong-700 {
  font-weight: 700;
}
.character-heading {
  font-size: 75%;
  margin-bottom: 12px;
}
.transparent {
  background: transparent;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
md-dialog {
  width: 40%;
}
.warning-msg {
  color: #B71C1C;
  font-weight: 700;
  margin-bottom: 20px;
}
.one-input-block {
  display: block;
  margin: 40px 0;
}
.stat-block {
  margin-right: 20px;
  margin-bottom: 20px;
}
.stat-block label {
  display: block;
  margin-bottom: 10px;
  font-size: 90%;
}
.stat-block input {
  font-size: 200%;
}
.stat-block-list .md-button {
  font-size: 50%;
  padding: 5px 10px;
  min-height: initial;
  min-width: initial;
  line-height: 1.0;
}
.character-item {
  margin-bottom: 13px;
}
.character-item md-divider {
  margin-bottom: 10px;
}
.character-item .md-button {
  margin: 0;
  padding: 0 5px;
  line-height: 1.0;
  min-height: 0;
  min-width: 0;
}
.character-item .md-button:hover {
  background: transparent;
}
.character-item-description {
  margin-bottom: 20px;
}
.database-description-block {
  padding: 20px 0;
}
.database-statsblock-list {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 0;
}
.database-statsblock {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 50%;
  padding: 10px;
}
.chargrid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.chargrid #chargrid-class {
  grid-column: span 2;
}
.chargrid #chargrid-stats {
  grid-row-end: span 2;
}
.chargrid #chargrid-traitsfeatures {
  grid-row-end: span 2;
}
.classgrid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.statgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
