<!--ARTISAN'S TOOLS ==================================================-->
<div class="md-padding">
    <h3>Artisan's Tools</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="tool in toolsList | filter: {type: 'artisans_tools'} | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{tool.name}}</span>
                <span>{{tool.cost}}</span>
                <span>{{tool.weight}}</span>
            </div>


        </md-card-content>
    </md-card>
</div>

<!--DISGUISE KIT ==================================================-->
<div class="md-padding">
    <h3>Disguise Kit</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="tool in toolsList | filter: {type: 'disguise_kit'} | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{tool.name}}</span>
                <span>{{tool.cost}}</span>
                <span>{{tool.weight}}</span>
            </div>


        </md-card-content>
    </md-card>
</div>

<!--FORGERGY KIT ==================================================-->
<div class="md-padding">
    <h3>Forgery Kit</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="tool in toolsList | filter: {type: 'forgery_kit'} | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{tool.name}}</span>
                <span>{{tool.cost}}</span>
                <span>{{tool.weight}}</span>
            </div>


        </md-card-content>
    </md-card>
</div>

<!--GAMING SET ==================================================-->
<div class="md-padding">
    <h3>Gaming Set</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="tool in toolsList | filter: {type: 'gaming_set'} | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{tool.name}}</span>
                <span>{{tool.cost}}</span>
                <span>{{tool.weight}}</span>
            </div>


        </md-card-content>
    </md-card>
</div>

<!--HEARBALISM KIT ==================================================-->
<div class="md-padding">
    <h3>Herbalism Kit</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="tool in toolsList | filter: {type: 'herbalism_kit'} | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{tool.name}}</span>
                <span>{{tool.cost}}</span>
                <span>{{tool.weight}}</span>
            </div>


        </md-card-content>
    </md-card>
</div>

<!--MUSICAL INSTRUMENTS ============================================-->
<div class="md-padding">
    <h3>Musical Instruments</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="tool in toolsList | filter: {type: 'musical_instruments'} | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{tool.name}}</span>
                <span>{{tool.cost}}</span>
                <span>{{tool.weight}}</span>
            </div>


        </md-card-content>
    </md-card>
</div>


<!--NAVIGATOR'S TOOLS ============================================-->
<div class="md-padding">
    <h3>Navigator's Tools</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="tool in toolsList | filter: {type: 'navigators_tools'} | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{tool.name}}</span>
                <span>{{tool.cost}}</span>
                <span>{{tool.weight}}</span>
            </div>


        </md-card-content>
    </md-card>
</div>

<!--POISONER'S KIT ==================================================-->
<div class="md-padding">
    <h3>Poisoner's Kit</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="tool in toolsList | filter: {type: 'poisoners_kit'} | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{tool.name}}</span>
                <span>{{tool.cost}}</span>
                <span>{{tool.weight}}</span>
            </div>


        </md-card-content>
    </md-card>
</div>

<!--THIEVES' TOOLS ==================================================-->
<div class="md-padding">
    <h3>Thieves' Tools</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="tool in toolsList | filter: {type: 'thieves_tools'} | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{tool.name}}</span>
                <span>{{tool.cost}}</span>
                <span>{{tool.weight}}</span>
            </div>


        </md-card-content>
    </md-card>
</div>