<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link rel="stylesheet" href="css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script>
        var app = angular.module("myApp", []);

        app.controller("myCtrl", function($scope) {

                    $scope.spells = [{
                        'name': 'ACID SPLASH',
                        'lvl': 'Conjuration calltrip',
                        'castingtime': 'Casting Time: I action',
                        'range': 'Range: 60 feel',
                        'components': 'Components: V,S',
                        'duration': 'Duration: Instantaneous',
                        'description': 'Vou hurl a bubble of acid. Choose one creature withinrange, or choose two crealures within range thal arewilhin 5 feet of each other. A target must succeed on aDexterity saving throw or lake Id6 acid damage.This spell\'s damage increases by Id6 when you reach5th leveI (2d6), 11th leveI (3d6), and 17lh leveI (4d6).'
                    }];
            
        });

    </script>


</head>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">

        <a href="#">Bard</a>
        <a href="#">Cleric</a>
        <a href="#">Druid</a>
        <a href="#">Paladin</a>
        <a href="#">Ranger</a>
        <a href="#">Sorcerer</a>
        <a href="#">Warlock</a>
        <a href="#">Wizard</a>


        <label>Search Name</label><input type="text">

        <table>
            <tr>
                <th>Spell Name</th>
                <th>Spell Lvl</th>
                <th>Casting Time</th>
                <th>Range</th>
                <th>Components</th>
                <th>Duration</th>
                <th>Spell Description</th>
            </tr>
            <tr ng-repeat="spell in spells">
                <td>{{spell.name}}</td>
                <td>{{spell.lvl}}</td>
                <td>{{spell.castingtime}}</td>
                <td>{{spell.range}}</td>
                <td>{{spell.components}}</td>
                <td>{{spell.duration}}</td>
                <td>{{spell.description}}</td>
            </tr>
        </table>

    </div>
</body>

</html>
