<md-content layout-gt-sm="row" layout-padding>
    <md-button ng-class="{'md-primary': query['class'] == ''}" ng-click="query = {};query['class'] = ''" class="md-raised">All Class</md-button>
    <md-button ng-class="{'md-primary': query['class'] == 'bard'}" ng-click="query = {};query['class'] = 'bard'" class="md-raised">Bard</md-button>
    <md-button ng-class="{'md-primary': query['class'] == 'cleric'}" ng-click="query = {};query['class'] = 'cleric' " class="md-raised">Cleric</md-button>
    <md-button ng-class="{'md-primary': query['druid'] == true}" ng-click="query = {};query['druid'] = true" class="md-raised">Druid</md-button>
    <md-button ng-class="{'md-primary': query['paladin'] == true}" ng-click="query = {};query['paladin'] = true" class="md-raised">Paladin</md-button>
    <md-button ng-class="{'md-primary': query['ranger'] == true}" ng-click="query = {};query['ranger'] = true" class="md-raised">Ranger</md-button>
    <md-button ng-class="{'md-primary': query['sorcerer'] == true}" ng-click="query = {};query['sorcerer'] = true" class="md-raised">Sorcerer</md-button>
    <md-button ng-class="{'md-primary': query['warlock'] == true}" ng-click="query = {};query['warlock'] = true" class="md-raised">Warlock</md-button>
    <md-button ng-class="{'md-primary': query['wizard'] == true}" ng-click="query = {};query['wizard'] = true" class="md-raised">Wizard</md-button>
</md-content>


<md-content layout-gt-sm="row" layout-padding>
    <div>
        <md-input-container>
            <label>Name</label>
            <input ng-model="query['name']">
        </md-input-container>

        <!--
        <md-input-container md-no-float>
            <label>Name</label>
            <input ng-model="query[queryBy]" placeholder="">
        </md-input-container>
-->

        <md-input-container>
            <label>Level</label>
            <md-select ng-model="query['level']">
                <md-option value="">
                    All
                </md-option>
                <md-option value="Cantrip">
                    Cantrip
                </md-option>
                <md-option value="1st">
                    1st
                </md-option>
                <md-option value="2nd">
                    2nd
                </md-option>
                <md-option value="3rd">
                    3rd
                </md-option>
                <md-option value="4th">
                    4th
                </md-option>
                <md-option value="5th">
                    5th
                </md-option>
                <md-option value="6th">
                    6th
                </md-option>
                <md-option value="7th">
                    7th
                </md-option>
                <md-option value="8th">
                    8th
                </md-option>
                <md-option value="9th">
                    9th
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Casting Time</label>
            <md-select ng-model="query['casting_time']">
                <md-option value="">
                    All
                </md-option>
                <md-option value="1 action">
                    1 action
                </md-option>
                <md-option value="1 bonus action">
                    1 bonus action
                </md-option>
                <md-option value="1 reaction">
                    1 reaction
                </md-option>
                <md-option value="1 minute">
                    1 minute
                </md-option>
                <md-option value="1 hour">
                    1 hour
                </md-option>
                <md-option value="8 hours">
                    8 hours
                </md-option>
                <md-option value="12 hours">
                    12 hours
                </md-option>
                <md-option value="24 hours">
                    24 hours
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Range</label>
            <md-select ng-model="query['range']">
                <md-option value="">
                    All
                </md-option>
                <md-option value="10 feet">
                    10 feet
                </md-option>
                <md-option value="30 feet">
                    30 feet
                </md-option>
                <md-option value="60 feet">
                    60 feet
                </md-option>
                <md-option value="Self">
                    Self
                </md-option>
                <md-option value="120 feet">
                    120 feet
                </md-option>
                <md-option value="Self (10-foot radius)">
                    Self (10-foot radius)
                </md-option>
                <md-option value="Self (10-foot radius sphere)">
                    Self (10-foot radius sphere)
                </md-option>
                <md-option value="Touch">
                    Touch
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Duration</label>
            <md-select ng-model="query['duration']">
                <md-option value="">
                    All
                </md-option>
                <md-option value="Concentration">
                    Concentration
                </md-option>
                <md-option value="Instantaneous">
                    Instantaneous
                </md-option>
            </md-select>
        </md-input-container>

    </div>
</md-content>



<md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
    <md-card-content layout="row" layout-align="space-between">
        <span ng-click="sortVal = 'name'">Name</span>
        <span ng-click="sortVal = 'level'">Level</span>
        <span ng-click="sortVal = 'school'">School</span>
        <span ng-click="sortVal = 'casting_time'">Casting Time</span>
        <span ng-click="sortVal = 'range'">Range</span>
        <span ng-click="sortVal = 'component'">Component</span>
        <span ng-click="sortVal = 'duration'">Duration</span>
    </md-card-content>
</md-card>


<md-card ng-repeat="spell in spellsList | filter:query | orderBy: sortVal" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-content ng-click="spell.show = !spell.show" layout="column">
        <div layout="row" layout-align="space-between">
            <span>{{spell.name}}</span>
            <span>{{spell.level}}</span>
            <span>{{spell.school}}</span>
            <span>{{spell.casting_time}}</span>
            <span>{{spell.range}}</span>
            <span>{{spell.component}}</span>
            <span>{{spell.duration}}</span>
        </div>
        <div ng-if="spell.show">
            <md-divider></md-divider>
            <span ng-bind-html="spell.description"></span>
        </div>

    </md-card-content>
    <!--
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
    </md-card-actions>
-->
</md-card>
