<md-dialog>
    <form ng-cloak>
        <md-toolbar class="md-primary md-hue-2">
            <div class="md-toolbar-tools">
                <h3>Add Armor</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="./images/ic_close_white_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        
        <md-dialog-content class="md-dialog-content">
            <h3>Pick a Character</h3>

            <div class="warning-msg" ng-if="warning">{{warning}}</div>

            <md-radio-group ng-model="option" layout="row">
                <md-radio-button value="buy">Buy ({{Purchase.total_cost | convertCurrency}})</md-radio-button>
                <md-radio-button value="no-buy">Just Add</md-radio-button>
            </md-radio-group>

            <md-input-container class="one-input-block">
                <label>Amount</label>
                <input ng-model="Purchase.amount" type="number" step="1">
            </md-input-container>

            <md-input-container class="one-input-block">
                <label>Character</label>
                
                <md-select ng-model="characterObj">
                    <md-option ng-repeat="character in charactersList" ng-value="character">
                        {{character.name}} ({{character.gold | convertCurrency}})
                    </md-option>
                </md-select>
            </md-input-container>
        </md-dialog-content>
        

        <md-dialog-actions layout="row">
            <md-button ng-click="add(characterObj, option)">
                Add Armor
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
