<md-dialog>
    <form ng-cloak>
        <md-toolbar class="md-primary md-hue-2">
            <div class="md-toolbar-tools">
                <h3>Add Custom Weapon</h3>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="./images/ic_close_white_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-dialog-content">
            <h3>Set Weapon Properties</h3>

            <div class="warning-msg" ng-if="warning">{{warning}}</div>

            <md-input-container class="dialog-input-block">
                <label>Amount</label>
                <input ng-model="Purchase.amount" type="number" step='1'>
            </md-input-container>
            <md-input-container class="dialog-input-block">
                <label>Name</label>
                <input ng-model="weaponObject.name" type="text">
            </md-input-container>
            <md-input-container class="dialog-input-block">
                <label>Cost</label>
                <input ng-model="weaponObject.cost" type="text">
            </md-input-container>
            <md-input-container class="dialog-input-block">
                <label>Damage</label>
                <input ng-model="weaponObject.damage" type="text">
            </md-input-container>
            <md-input-container class="dialog-input-block">
                <label>Weight</label>
                <input ng-model="weaponObject.weight" type="text">
            </md-input-container>
            <md-input-container class="dialog-input-block">
                <label>Properties</label>
                <input ng-model="weaponObject.properties" type="text">
            </md-input-container>
            <md-input-container class="dialog-input-block">
                <label>Type</label>
                <input ng-model="weaponObject.type" type="text">
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="add(weaponObject, option)">
                Add Custom Weapon
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
