<!-- light armor -->
<div class="md-padding">
    <h3>Light Armor</h3>

    <md-card class="transparent">
        <md-card-content class="grid-column-6 strong-700">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'ac'; sortDir = !sortDir">Armor Class</span>
            <span ng-click="sortVal = 'stealth'; sortDir = !sortDir">Stealth</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
            <span></span>
        </md-card-content>
    </md-card>
    <md-card ng-repeat="armor in armorsList | filter: {type: 'light'} | orderBy: sortVal: sortDir">
        <md-card-content ng-click="description.show = !description.show" class="grid-column-6">
            <span>{{armor.name}}</span>
            <span>{{armor.cost | convertCurrency}}</span>
            <span>{{armor.ac}}</span>
            <span>{{armor.stealth}}</span>
            <span>{{armor.weight}}</span>
            <md-button ng-click="editPurchase(armor);showAddArmor(armor);$event.stopPropagation()" class="md-accent">Add Armor</md-button>
            <div style="grid-column-start: 1;
  grid-column-end: 7;" ng-if="description.show">
                <md-divider></md-divider>
                <div class="database-description-block" ng-bind-html="armor.description"></div>
            </div>
        </md-card-content>
    </md-card>
</div>


<!-- medium armor -->
<div class="md-padding">
    <h3>Medium Armor</h3>

    <md-card class="transparent">
        <md-card-content class="grid-column-6 strong-700">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'ac'; sortDir = !sortDir">Armor Class</span>
            <span ng-click="sortVal = 'stealth'; sortDir = !sortDir">Stealth</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
            <span></span>
        </md-card-content>
    </md-card>
    <md-card ng-repeat="armor in armorsList | filter: {type: 'medium'} | orderBy: sortVal: sortDir">
        <md-card-content ng-click="description.show = !description.show" class="grid-column-6">
            <span>{{armor.name}}</span>
            <span>{{armor.cost | convertCurrency}}</span>
            <span>{{armor.ac}}</span>
            <span>{{armor.stealth}}</span>
            <span>{{armor.weight}}</span>
            <md-button ng-click="editPurchase(armor);showAddArmor(armor);$event.stopPropagation()" class="md-accent">Add Armor</md-button>
            <div style="grid-column-start: 1;
  grid-column-end: 7;" ng-if="description.show">
                <md-divider></md-divider>
                <div class="database-description-block" ng-bind-html="armor.description"></div>
            </div>
        </md-card-content>
    </md-card>
</div>


<!-- heavy armor -->
<div class="md-padding">
    <h3>Heavy Armor</h3>

    <md-card class="transparent">
        <md-card-content class="grid-column-7 strong-700">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'ac'; sortDir = !sortDir">Armor Class</span>
            <span ng-click="sortVal = 'strength'; sortDir = !sortDir">Strength</span>
            <span ng-click="sortVal = 'stealth'; sortDir = !sortDir">Stealth</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
            <span></span>
        </md-card-content>
    </md-card>
    <md-card ng-repeat="armor in armorsList | filter: {type: 'heavy'} | orderBy: sortVal: sortDir">
        <md-card-content ng-click="description.show = !description.show" class="grid-column-7">
            <span>{{armor.name}}</span>
            <span>{{armor.cost | convertCurrency}}</span>
            <span>{{armor.ac}}</span>
            <span>{{armor.strength}}</span>
            <span>{{armor.stealth}}</span>
            <span>{{armor.weight}}</span>
            <md-button ng-click="editPurchase(armor);showAddArmor(armor);$event.stopPropagation()" class="md-accent">Add Armor</md-button>
            <div style="grid-column-start: 1;
  grid-column-end: 8;" ng-if="description.show">
                <md-divider></md-divider>
                <div class="database-description-block" ng-bind-html="armor.description"></div>
            </div>
        </md-card-content>
    </md-card>
</div>


<!-- shield -->
<div class="md-padding">
    <h3>Shield</h3>

    <md-card class="transparent">
        <md-card-content class="grid-column-5 strong-700">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'ac'; sortDir = !sortDir">Armor Class</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
            <span></span>
        </md-card-content>
    </md-card>
    <md-card ng-repeat="armor in armorsList | filter: {type: 'shield'} | orderBy: sortVal: sortDir">
        <md-card-content ng-click="description.show = !description.show" class="grid-column-5">
            <span>{{armor.name}}</span>
            <span>{{armor.cost | convertCurrency}}</span>
            <span>{{armor.ac}}</span>
            <span>{{armor.weight}}</span>
            <md-button ng-click="editPurchase(armor);showAddArmor(armor);$event.stopPropagation()" class="md-accent">Add Armor</md-button>
            <div style="grid-column-start: 1;
  grid-column-end: 6;" ng-if="description.show">
                <md-divider></md-divider>
                <div class="database-description-block" ng-bind-html="armor.description"></div>
            </div>
        </md-card-content>
    </md-card>
</div>
