<md-input-container>
    <label>Name</label>
    <input ng-model="query['name']">
</md-input-container>

<md-input-container>
    <label>Search Keyword</label>
    <input ng-model="search">
</md-input-container>

<md-checkbox ng-model="showAll">
    Expand All
</md-checkbox>


<md-card class="transparent">
    <md-card-content class="grid-column-2 strong-700">
        <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
        <!--        <span ng-click="sortVal = 'description'; sortDir = !sortDir">Description</span>-->
        <span></span>
    </md-card-content>
</md-card>
<md-card ng-repeat="feat in featsList | filter: query | filter: search | orderBy: sortVal: sortDir">
    <md-card-content class="grid-column-2" ng-click="feat.show = !feat.show">
        <span>{{feat.name}}</span>
        <md-button ng-click="showAddFeat(feat);$event.stopPropagation()" class="md-accent">Add Feat</md-button>

        <div style="grid-column-start: 1;
  grid-column-end: 4;" ng-if="feat.show || showAll">
            <md-divider></md-divider>
            <div ng-bind-html="feat.description"></div>
        </div>
    </md-card-content>
</md-card>
