<h3 class="page-sub-title">Trade Goods</h3>

<div class="list-item-wrapper">
    <div class="loader-wrapper" ng-show="loading">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>

    <div class="grid-column-3 list-item-head">
        <span class="list-item-head__property" ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
        <span class="list-item-head__property" ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
        <span></span>
    </div>
    <div class="grid-column-3 list-item-card md-whiteframe-4dp" ng-repeat="good in goodsList | filter:query | orderBy: sortVal: sortDir">
        <div class="list-item-card__property">{{good.name}}</div>
        <div class="list-item-card__property" an>{{good.cost | convertCurrency}}</div>
        <md-button ng-click="editPurchase(good);showAddEquipment(good);$event.stopPropagation()" class="md-accent">Add Good</md-button>
    </div>
</div>
