<div class="md-padding">
    <h3>Trade Goods</h3>

    <md-card class="transparent">
        <md-card-content class="grid-column-3 strong-700">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span></span>
        </md-card-content>
    </md-card>
    <md-card ng-repeat="good in goodsList | filter:query | orderBy: sortVal: sortDir">
        <md-card-content class="grid-column-3">
                <span>{{good.name}}</span>
                <span>{{good.cost | convertCurrency}}</span>
                <md-button ng-click="editPurchase(good);showAddEquipment(good);$event.stopPropagation()" class="md-accent">Add Good</md-button>
        </md-card-content>
    </md-card>
</div>
