<h3 class="page-sub-title">Items</h3>

<div class="list-item-wrapper">
    <div class="loader-wrapper" ng-show="loading">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>

    <div class="grid-column-4 list-item-head">
        <span class="list-item-head__property" ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
        <span class="list-item-head__property" ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
        <span class="list-item-head__property" ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
        <span></span>
    </div>
    <div class="grid-column-4 list-item-card md-whiteframe-4dp" ng-repeat="item in itemsList | filter:query | orderBy: sortVal: sortDir" ng-click="description.show = !description.show">
        <div class="list-item-card__property">{{item.name}}</div>
        <div class="list-item-card__property">{{item.cost | convertCurrency}}</div>
        <div class="list-item-card__property">{{item.weight}}</div>
        <md-button ng-click="editPurchase(item);showAddEquipment(item);$event.stopPropagation()" class="md-accent">Add Item</md-button>
        <div ng-if="description.show" class="span-4">
            <md-divider class="list-item-card-divider"></md-divider>
            <div class="list-item-card__description" ng-bind-html="item.description"></div>
        </div>
    </div>

</div>
