<div class="md-padding">
    <h3>Items</h3>

    <md-card class="transparent">
        <md-card-content class="grid-column-4 strong-700">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'weight'; sortDir = !sortDir">Weight</span>
            <span></span>
        </md-card-content>
    </md-card>
    <md-card ng-repeat="item in itemsList | filter:query | orderBy: sortVal: sortDir">
        <md-card-content ng-click="description.show = !description.show" class="grid-column-4">
            <span>{{item.name}}</span>
            <span>{{item.cost | convertCurrency}}</span>
            <span>{{item.weight}}</span>
            <md-button ng-click="editPurchase(item);showAddEquipment(item);$event.stopPropagation()" class="md-accent">Add Item</md-button>
            <div ng-if="description.show" style="grid-column-start:1;grid-column-end:5">
                <md-divider></md-divider>
                <div class="database-description-block" ng-bind-html="item.description"></div>
            </div>
        </md-card-content>
    </md-card>
</div>
