<div class="note-editor md-whiteframe-4dp">
        <md-input-container>
            <label>Enter Title</label>
            <input ng-model='Note.name'>
        </md-input-container>

        <div class="note-editor__toolbar">
            <md-button unselectable="on" ng-click='format("bold")' class="md-icon-button md-raised">
                B
            </md-button>
            <md-button unselectable="on" ng-click='format("italic")' class="md-icon-button md-raised">
                I
            </md-button>
            <md-button unselectable="on" ng-click='format("underline")' class="md-icon-button md-raised">
                U
            </md-button>
            <md-button unselectable="on" ng-click='format("insertUnorderedList")' class="md-icon-button md-raised">
                <md-icon ng_bind="'format_list_bulleted'"></md-icon>
            </md-button>
            <md-button unselectable="on" ng-click='format("insertOrderedList")' class="md-icon-button md-raised">
            <md-icon ng_bind="'format_list_numbered'"></md-icon>
            </md-button>
        </div>

        <div class="note-editor__textbox" ng-model='Note.content' contenteditable></div>
</div>
