<!--                <h1 class="md-display-2">Equipment Packs</h1>-->
<div class="md-padding">
    <h3>Equipment Packs</h3>
<!--
    <md-content layout-gt-sm="row" layout-padding>
        <div>
            <md-input-container>
                <label>Name</label>
                <input ng-model="query['name']">
            </md-input-container>

            <md-input-container>
                <label>Cost</label>
                <input ng-model="query['cost']">
            </md-input-container>

        </div>
    </md-content>
-->



    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="pack in packsList | filter:query | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{pack.name}}</span>
                <span>{{pack.cost}}</span>
            </div>
            <div>
                <md-divider></md-divider>
                <span ng-bind-html="pack.description"></span>
            </div>

        </md-card-content>
    </md-card>
</div>
