<h3 class="page-sub-title">Equipment Packs</h3>

<div class="list-item-wrapper">
    <div class="loader-wrapper" ng-show="loading">
        <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>

    <div class="grid-column-3 list-item-head">
        <span class="list-item-head__property" ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
        <span class="list-item-head__property" ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
        <span></span>
    </div>
    <div class="grid-column-3 list-item-card md-whiteframe-4dp" ng-repeat="pack in packsList | filter:query | orderBy: sortVal: sortDir" ng-click="description.show = !description.show">
        <div class="list-item-card__property">{{pack.name}}</div>
        <div class="list-item-card__property">{{pack.cost | convertCurrency}}</div>
        <md-button ng-click="editPurchase(pack);showAddEquipment(pack);$event.stopPropagation()" class="md-accent">Add Pack</md-button>
        <div ng-if="description.show" class="span-3">
            <md-divider class="list-item-card-divider"></md-divider>
            <div class="list-item-card__description" ng-bind-html="pack.description"></div>
        </div>
    </div>
</div>
