<!--MOUNTS ==================================================-->
<div class="md-padding">
    <h3>Mounts</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'strength'; sortDir = !sortDir">Speed</span>
            <span ng-click="sortVal = 'stealth'; sortDir = !sortDir">Carrying Capacity</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="ridable in ridablesList | filter: {type: 'mount'} | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{ridable.name}}</span>
                <span>{{ridable.cost}}</span>
                <span>{{ridable.speed}}</span>
                <span>{{ridable.carrying_capacity}}</span>
            </div>


        </md-card-content>
    </md-card>
</div>


<!--LAND VEHICLE ==================================================-->
<div class="md-padding">
    <h3>Land Vehicles</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'stealth'; sortDir = !sortDir">Weight</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="ridable in ridablesList | filter: {type: 'land_vehicle'} | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{ridable.name}}</span>
                <span>{{ridable.cost}}</span>
                <span>{{ridable.weight}}</span>
            </div>


        </md-card-content>
    </md-card>
</div>


<!--WATER VEHICLE ==================================================-->
<div class="md-padding">
    <h3>Waterborne Vehicles</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content layout="row" layout-align="space-between">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'strength'; sortDir = !sortDir">Speed</span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="ridable in ridablesList | filter: {type: 'water_vehicle'} | orderBy: sortVal: sortDir">
        <md-card-content layout="column">
            <div layout="row" layout-align="space-between">
                <span>{{ridable.name}}</span>
                <span>{{ridable.cost}}</span>
                <span>{{ridable.speed}}</span>
            </div>


        </md-card-content>
    </md-card>
</div>