<!--MOUNTS ==================================================-->
<div class="md-padding">
    <h3>Mounts</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content class="grid-column-5">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'strength'; sortDir = !sortDir">Speed</span>
            <span ng-click="sortVal = 'stealth'; sortDir = !sortDir">Carrying Capacity</span>
            <span></span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="ridable in ridablesList | filter: {type: 'mount'} | orderBy: sortVal: sortDir">
        <md-card-content class="grid-column-5">
            <span>{{ridable.name}}</span>
            <span>{{ridable.cost | convertCurrency}}</span>
            <span>{{ridable.speed}}</span>
            <span>{{ridable.carrying_capacity}}</span>
            <md-button ng-click="editPurchase(ridable);showAddEquipment(ridable.name);$event.stopPropagation()" class="md-accent">Add Mount</md-button>
        </md-card-content>
    </md-card>
</div>


<!--LAND VEHICLE ==================================================-->
<div class="md-padding">
    <h3>Land Vehicles</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content class="grid-column-4">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'stealth'; sortDir = !sortDir">Weight</span>
            <span></span>

        </md-card-content>
    </md-card>

    <md-card ng-repeat="ridable in ridablesList | filter: {name: 'Barding'} | orderBy: sortVal: sortDir">
        <md-card-content class="grid-column-4">
            <span>{{ridable.name}}</span>
            <span>{{ridable.cost}}</span>
            <span>{{ridable.weight}}</span>
            <md-button ng-click="editPurchase(ridable);showAddEquipment(ridable.name);$event.stopPropagation()" class="md-accent">Add Vehicle</md-button>
        </md-card-content>
    </md-card>
    
    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content class="grid-column-4">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'stealth'; sortDir = !sortDir">Weight</span>
            <span></span>

        </md-card-content>
    </md-card>

    <md-card ng-repeat="ridable in ridablesList | filter: {type: 'land_vehicle', name: '!Barding'} | orderBy: sortVal: sortDir">
        <md-card-content class="grid-column-4">
            <span>{{ridable.name}}</span>
            <span>{{ridable.cost | convertCurrency}}</span>
            <span>{{ridable.weight}}</span>
            <md-button ng-click="editPurchase(ridable);showAddEquipment(ridable.name);$event.stopPropagation()" class="md-accent">Add Vehicle</md-button>
        </md-card-content>
    </md-card>
</div>


<!--WATER VEHICLE ==================================================-->
<div class="md-padding">
    <h3>Waterborne Vehicles</h3>

    <md-card style="background: transparent; box-shadow: 0 0 0 rgba(0,0,0,0); font-weight:700">
        <md-card-content class="grid-column-4">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'cost'; sortDir = !sortDir">Cost</span>
            <span ng-click="sortVal = 'strength'; sortDir = !sortDir">Speed</span>
            <span></span>
        </md-card-content>
    </md-card>


    <md-card ng-repeat="ridable in ridablesList | filter: {type: 'water_vehicle'} | orderBy: sortVal: sortDir">
        <md-card-content class="grid-column-4">
            <span>{{ridable.name}}</span>
            <span>{{ridable.cost | convertCurrency}}</span>
            <span>{{ridable.speed}}</span>
            <md-button ng-click="editPurchase(ridable);showAddEquipment(ridable.name);$event.stopPropagation()" class="md-accent">Add Vehicle</md-button>
        </md-card-content>
    </md-card>
</div>
