<md-content style="padding:20px;">
    <h1 class="margin-bottom-30">{{currentCharacter.name}}</h1>


    <div class="md-whiteframe-4dp margin-bottom-30" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 md-truncate>Backstory</h2>
                <span flex></span>
                <md-button class="md-raised md-accent">
                    Save
                </md-button>
            </div>
        </md-toolbar>

        <md-content class="md-padding ">

            <div class="margin-bottom-30" contenteditable>
                Ijen was a wanderer who loved to wander. Ever since he was a kid he would wander to the most ambiguous places and most dangerous as well. From a dragon's cave to a small rabbit hole that heaven knows how it fits him, he ventured through all of the Dragon Empire in search of.... well nothing at all. He loved wandering. Just for the thrill of it. Not really. There was no thrill. He just does it. Sometimes he would go to the top of the mountain and as he arrived, he would turn right around. Ijen is a wanderer.
            </div>

            <div class="margin-bottom-30">
                <label class="small-80">Background</label>

                <md-input-container class="md-block">
                    <input ng-value="currentCharacter.background" type="text">
                </md-input-container>
            </div>

            <label class="small-80">Gold</label>

            <md-input-container class="md-block">
                <input ng-value="currentCharacter.gold" type="number">
            </md-input-container>

        </md-content>

    </div>

    <div class="md-whiteframe-4dp margin-bottom-30" layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 md-truncate>Race and Class</h2>
                <span flex></span>
                <md-button class="md-raised md-accent">
                    Save
                </md-button>
            </div>
        </md-toolbar>

        <md-content class="md-padding" layout="row">
            <div layout="column">
                <label class="small-80">Race:</label>

                <md-input-container class="md-block">
                    <input ng-value="currentCharacter.race" type="text">
                </md-input-container>
            </div>

            <div>
                <label class="small-80">Class:</label>

                <div ng-repeat="class in currentCharacter.class" layout="row">
                    <md-input-container class="md-block">
                        <!--                <label>Name</label>-->
                        <input ng-value="class.name" type="text">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <!--                <label>Level</label>-->
                        <input ng-value="class.level" type="number" step="1">
                    </md-input-container>
                </div>

                <md-button class="md-accent">Add Class</md-button>
            </div>
        </md-content>
    </div>


    <div class="grid-column-2">

        <div style="background:white;" class="item1 md-whiteframe-4dp margin-right-30 margin-bottom-30" layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 md-truncate>Stats</h2>
                    <span flex></span>
                    <md-button class="md-raised md-accent">
                        Save
                    </md-button>
                </div>
            </md-toolbar>

            <md-content class="md-padding">
                <div class="grid-column-2">
                    <md-input-container class="md-block">
                        <label>Hit Points</label>
                        <input value="42" type="number" step="1">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Hit Dices</label>
                        <input ng-disabled=true value="4d10" type="text">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Movement Speed</label>
                        <input value="30" type="number" step="1">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>AC</label>
                        <input value="16" type="number" step="1">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Passive Perception</label>
                        <input value="21" type="number" step="1">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Proficiency Bonus</label>
                        <input value="3" type="number" step="1">
                    </md-input-container>
                </div>
                <div class="grid-column-2">
                    <div class="stat-block">
                        <label>STR</label>
                        <span>16 + 2</span>
                    </div>
                    <div class="stat-block">
                        <label>DEX</label>
                        <span>16 + 2</span>
                    </div>
                    <div class="stat-block">
                        <label>CON</label>
                        <span>16 + 2</span>
                    </div>
                    <div class="stat-block">
                        <label>WIS</label>
                        <span>16 + 2</span>
                    </div>
                    <div class="stat-block">
                        <label>CHA</label>
                        <span>16 + 2</span>
                    </div>
                    <div class="stat-block">
                        <label>INT</label>
                        <span>16 + 2</span>
                    </div>
                </div>

                <md-divider></md-divider>

                <div class="stat-block-list flex-row-wrap">
                    <md-button class="md-raised" ng-disabled=true>STR | +2</md-button>
                    <md-button class="md-raised md-primary" ng-disabled=false>CON | +6</md-button>
                    <md-button class="md-raised" ng-disabled=true>DEX | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>INT | +2</md-button>
                    <md-button class="md-raised md-primary" ng-disabled=false>WIS | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>CHA | +2</md-button>
                </div>

                <md-divider></md-divider>

                <div class="stat-block-list flex-row-wrap">
                    <md-button class="md-raised" ng-disabled=true>Athletics | +2</md-button>
                    <md-button class="md-raised md-primary" ng-disabled=false>Acrobatics | +6</md-button>
                    <md-button class="md-raised" ng-disabled=true>Stealth | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>Sleight of Hand | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>Arcana | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>History | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>Investigation | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>Nature | 0</md-button>
                    <md-button class="md-raised" ng-disabled=true>Religion | -2</md-button>
                    <md-button class="md-raised" ng-disabled=true>Animal handling | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>Insight | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>Medicine | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>Perception | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>Survival | +2</md-button>
                    <md-button class="md-raised md-primary" ng-disabled=false>Deception | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>Intimidation | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>Performance | +2</md-button>
                    <md-button class="md-raised" ng-disabled=true>Persuasion | +2</md-button>
                </div>
            </md-content>
        </div>

        <div style="background:white" class="item2 md-whiteframe-4dp margin-bottom-30" layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 md-truncate>Weapons</h2>
                    <span flex></span>
                    <md-button class="md-raised md-accent">
                        Save
                    </md-button>
                </div>
            </md-toolbar>

            <md-content class="md-padding">

                <div class="grid-column-3 character-heading">
                    <strong>Name</strong>
                    <strong>To Hit</strong>
                    <strong>Damage</strong>
                </div>

                <div class="grid-column-3 character-item" ng-repeat="weapon in currentCharacter.weapons">
                    <span>{{weapon.name}}</span>
                    <span>{{weapon.damage | grabDice}} + 5</span>
                    <span>{{weapon.damage | grabDice}} + 5 {{weapon.damage | grabDamage}}</span>
                </div>

                <md-button class="md-accent">Add Custom</md-button>

            </md-content>
        </div>

        <div style="background:white" class="item3 md-whiteframe-4dp margin-bottom-30" layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 md-truncate>Spells</h2>
                    <md-button class="md-raised md-accent">
                        Save
                    </md-button>
                </div>
            </md-toolbar>

            <md-content class="md-padding">

                <div class="grid-column-3 character-heading">
                    <strong>Name</strong>
                    <strong>Casting Time</strong>
                    <strong></strong>
                </div>

                <div class="grid-column-3 character-item align-middle" ng-repeat="spell in currentCharacter.spells">
                    <span>{{spell.name}}</span>
                    <span>{{spell.casting_time}}</span>
                    <md-button class="md-accent">Expand</md-button>
                </div>

                <md-button class="md-accent">Add Custom</md-button>

            </md-content>
        </div>

        <div style="background:white" class="md-whiteframe-4dp margin-right-30 margin-bottom-30" flex="33" layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 md-truncate>Traits and Features</h2>
                    <span flex></span>
                    <md-button ng-click="showall = !showall" class="md-raised md-accent">
                        {{showall | iif: 'Collapse All' : 'Expand All'}}
                    </md-button>
                </div>
            </md-toolbar>


            <md-content class="md-padding">

                <h3>Racial Traits</h3>

                <div class="small-90 grid-column-2-revised character-item align-middle" ng-repeat="trait in racialTraits">
                    <span style="font-weight:700">{{trait.name}}</span>
                    <md-button ng-click="trait.show = !trait.show" class="md-accent">{{trait.show | iif: '-' : '+'}}</md-button>

                    <div ng-if="trait.show || showall" class="span-2 character-item-description">
                        <md-divider></md-divider>
                        <div ng-bind-html="trait.description"></div>
                    </div>
                </div>

                <md-divider></md-divider>

                <h3>Class Features</h3>

                <div class="small-90 grid-column-3-revised character-item align-middle" ng-repeat="feature in classFeatures">
                    <span style="font-weight:700">{{feature.name}}</span>
                    <span ng-repeat="prereq in feature.prereq">{{prereq}}</span>
                    <md-button ng-click="feature.show = !feature.show" class="md-accent">{{feature.show | iif: '-' : '+'}}</md-button>
                    
                    <div ng-if="feature.show || showall" class="span-2 character-item-description">
                        <md-divider></md-divider>
                        <div ng-bind-html="feature.description"></div>
                    </div>
                </div>
                
                <md-divider></md-divider>

                <h3>Feats</h3>

                <div class="small-90 grid-column-2-revised character-item align-middle" ng-repeat="feat in currentCharacter.feats">
                    <span style="font-weight:700">{{feat.name}}</span>
                    <md-button ng-click="feat.show = !feat.show" class="md-accent">{{feat.show | iif: '-' : '+'}}</md-button>
                    
                    <div ng-if="feat.show || showall" class="span-2 character-item-description">
                        <md-divider></md-divider>
                        <div ng-bind-html="feat.description"></div>
                    </div>
                </div>


            </md-content>
        </div>

        <div style="background:white" class="md-whiteframe-4dp margin-bottom-30" flex="33" layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 md-truncate>Armors and Equipment</h2>
                    <span flex></span>
                    <md-button class="md-raised md-accent">
                        Save
                    </md-button>
                </div>
            </md-toolbar>

            <md-content class="md-padding">
                <h3>Armors</h3>

                <div class="grid-column-2 character-heading">
                    <strong>Name</strong>
                    <strong>Armor Class</strong>
                </div>

                <div class="grid-column-2 character-item align-middle" ng-repeat="armor in currentCharacter.armors">
                    <span>{{armor.name}}</span>
                    <span>{{armor.ac}}</span>
                </div>

                <md-button class="md-accent">Add Custom</md-button>

                <md-divider></md-divider>

                <h3>Equipments</h3>

                <div class="grid-column-2 character-heading">
                    <strong>Name</strong>
                    <strong></strong>
                </div>

                <div class="grid-column-2 character-item align-middle" ng-repeat="equipment in currentCharacter.equipments">
                    <span>{{equipment.name}}</span>
                    <md-button ng-click="equipment.show = !equipment.show" class="md-accent">{{feature.show | iif: '-' : '+'}}</md-button>
                    <md-divider ng-if="equipment.show" class="span-2 character-item-description"></md-divider>
                    <div ng-if="equipment.show" ng-bind-html="equipment.description" class="span-2 character-item-description">
                    </div>
                </div>

                <md-button class="md-accent">Add Custom</md-button>


            </md-content>
        </div>



    </div>




</md-content>
