<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 md-truncate>Character List</h2>
        <span flex></span>
        <md-button ng-click="unNav();redirectTo('create-character')"class="md-raised md-accent">
            Create New
        </md-button>
    </div>
</md-toolbar>

<div layout-padding>
    
    <md-input-container style="width:100%;">
        <label>Search By Name</label>
        <input placeholder="Character Name" ng-model="query['name']">
    </md-input-container>


    <md-card class="transparent">
        <md-card-content class="grid-column-4 strong-700">
            <span ng-click="sortVal = 'name'; sortDir = !sortDir">Name</span>
            <span ng-click="sortVal = 'race'; sortDir = !sortDir">Race</span>
            <span ng-click="sortVal = 'class'; sortDir = !sortDir">Class</span>
            <span></span>
        </md-card-content>
    </md-card>

    <md-card ng-click="unNav();redirectTo('character/' + character._id)" ng-repeat="character in charactersList | filter: query | orderBy: sortVal: sortDir">
        <md-card-content class="grid-column-4">
            <span>{{character.name}}</span>
            <div>
                <span>{{character.race}}</span>
            </div>
            <div>
                <span ng-repeat="class in character.class">{{class.name}} {{class.level}}</span>
            </div>

            <md-button ng-click="removeCharacter(character._id); $event.stopPropagation()" class="md-warn">Remove</md-button>
        </md-card-content>
    </md-card>

</div>
