// setup --------------------------

* {
    box-sizing: border-box;
}

md-dialog {
    width: 40%;
}

a {
    text-decoration: none;
    color: #2962FF;
}

[contenteditable] {
    outline:none;
}

// layout reusables ---------------

.grid-column-8 {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: auto;
}

.grid-column-7 {
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    grid-template-rows: auto;
}

.grid-column-6 {
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
    grid-template-rows: auto;
}

.grid-column-5 {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
}

.grid-column-4 {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
}

.grid-column-3 {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: auto;
}

.grid-column-3-revised {
     display: grid;
    grid-template-columns: 60% repeat(2, 20%);
    grid-template-rows: auto;
}

.grid-column-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
}

.grid-column-2-revised {
     display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-center-align {
    display: flex;
    align-content: center;
    justify-content: center;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-18 {
    margin-bottom: 18px;
}

md-divider {
    margin-bottom:16px;
    margin-top: 16px;
}

.align-middle {
    align-items: center;
    justify-content: center;
}

.span-2 {
    grid-column: span 2;
}

.span-3 {
    grid-column: span 3;
}

.small-80 {
    font-size: 80%;
}

.small-90 {
    font-size: 90%;
}

// styling and blocking reusables -----------

.warning-msg {
    color: #c60008;
    font-weight: 700;
    margin-bottom: 20px;
}

.one-input-block {
    display: block;
    margin: 40px 0;
}

.stat-block {
    label {
        display: block;
        margin-bottom:10px;
        font-size: 90%;
    }
    margin-right: 20px;
    margin-bottom: 20px;
}

.stat-block-list {
    .md-button {
        font-size: 50%;
        padding: 5px 10px;
        min-height: initial;
        min-width: initial;
        line-height: 1.0;
    }
}

.item1 {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item2 {
    grid-column: 2;
    grid-row: 1;
}

.item3 {
    grid-column: 2;
    grid-row: 2; 
}

.character-heading {
    font-size: 75%;
    margin-bottom: 12px;
}

.character-item {
    margin-bottom: 13px;
    
    md-divider {
        margin-bottom: 10px;
    }
    
    .md-button {
        margin: 0;
        padding: 0 5px;
        line-height: 1.0;
        min-height: 0;
        min-width: 0;
    }
    
    .md-button:hover {
        background: transparent;
    }
}

.character-item-description {
    font-size: 85%;
    margin-bottom:20px;
}

.character-backstory {
    line-height: 1.7;
}

// specifics ---------------------------------

.database-description-block {
    padding: 20px 0;
}

.database-statsblock-list {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 0;
}

.database-statsblock {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 50%;
    padding: 10px;
}

.compendium-card {
    width:20%;
}

// temporary prototyping trash ----------------

.md-subhead {
    color: rgba(0,0,0,0.54);
    display:none;
}

//span {
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//    text-align: left;
//    padding: 0.5vw 0;
//}

#container {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

label {
    font-weight: 700;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

md-nav-bar .md-nav-bar {
    background: white;
}

md-sidenav.md-closed.md-locked-open-add-active {
    width: 220px !important;
    min-width: 220px !important;
}

.toolbar {
    margin-bottom: 25px;
}
